{% extends 'momotaro/base.html' %}

{% block content %}
<!-- main -->
<main>
  <div class="about-top py-5 mb-5">
    <div class="about-top-container text-center">
      <div class="discription">
        <p>勉強を始める今、仲間を集めよう！</p>
        <p>情報収集したり、コミュニケーションをとりながら、</p>
        <p>目標達成の確率を上げるための、プラットフォームです。</p>
      </div>

      <div class="container w-75">
        <div class="row">
          <button id="atumeru" type="button" class="col-12 col-sm-5 btn btn-danger mx-sm-3 my-3 py-3 font-weight-bold">
            <p class="mb-0">仲間を集める人</p>
            <p>（勉強を始める人）</p>
          </button>

          <button id="sagasu" type="button" class="col-12 col-sm-5 btn btn-info mx-sm-3 my-3 py-3 font-weight-bold">
            <p class="mb-0">桃太郎を探す人</p>
            <p>（応援する人）</p>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class=" container setumei text-center w-75 mb-5">
    <p><span>新しい目標を立て、</spnan></p>
    <p><span>何かを勉強し始めようと思った経験は、ほとんどの人があるはず。</span></p>
    <p><span>でも、いつの間にか勉強をやめていた。。。</span></p>
    <p><span>そもそも始めてすらいなかった。。。</span></p>
    <p><span>なんて経験も多くの人がしている。</span></p>
    <p><span>このアプリはそんな人たちの役に立てるかもしれない。</span></p>
  </div>
</main>

{% endblock %}
