{% extends 'momotaro/base.html' %}

{% load static %}
{% block extracss %}<link rel="stylesheet" type="text/css" href="{% static 'momotaro/index.css' %}" />{% endblock %}


{% block content %}
<!-- main -->
<main>
  <section class="bg-color-brand-grey">
    <div class="container">
      <div class="row">
        <div class=" col-8 col-sm-5 mx-auto my-auto">
          <img src="img/free.momotarou.png" alt="桃太郎" class=" momo-img py-5">
        </div>
        <div id="message" class="col-12 col-sm-6 text-center my-auto">
          <div class="my-5">
            <p>勉強を始める今、</p>
            <p>一緒に目標を達成を喜んでくれる</p>
            <p class="pb-3">仲間を探そう！</p>
            <p>応援してくれる人がいれば、</p>
            <p class="pb-3">目標達成の確率は上がるはず！</p>
            <p>まずは自分の目標を知ってもらおう！</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-brand-pink-light pb-2 mb-3">
    <div class="container">
      <h2 class="text-center pt-5 font-weight-bold">コミュニケーションをとってくれる仲間を探してます！</h2>
      <div class="row my-md-5 text-center">

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事がしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4  col-xl-3 my-2">
          <div class="user zoomIn">
            <figure>
              <img src="img/IMG_4454.jpg" alt="アイコン画像">
            </figure>
            <p class="nn">ニックネーム</p>
            <p class="info">momotaro</p>
            <p class="goal">目標</p>
            <p class="info">pythonをマスターして就職するああああああああああああああああああああ、、、</p>
            <p class="limit">期限</p>
            <p class="info">３ヶ月</p>
            <p class="reason">理由</p>
            <p class="info">pythonを使って仕事をしたい</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>

{% endblock %}
