{% extends 'momotaro/base.html' %}

{% load static %}
{% block extracss %}<link rel="stylesheet" type="text/css" href="{% static 'momotaro/momotaro_form.css' %}" />{% endblock %}


{% block content %}
<main class="my-5">
  <div class="container py-4">
    <form class="" action="" method="POST">
      <table cellpadding="10" cellspacing="">
        <tr>
          <th>ニックネーム</th>
          <td>{{user_form.nickname}}</td>
        </tr>
        <tr>
          <th>性別</th>
          <td>{{ user_form.gender}}</td>
        </tr>
        <tr>
          <th>年代</th>
          <td>{{ user_form.age }}</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>{{ user_form.email }}</td>
        </tr>
        <tr>
          <th>自由記入欄</th>
          <td>{{ user_form.additional_comments }}</td>
        </tr>
        <tr>
          <th>目標</th>
          <td>{{ momotaro_form.goal }}</td>
        </tr>
        <tr>
          <th>期限</th>
          <td>{{ momotaro_form.limit }}</td>
        </tr>
        <tr>
          <th>目標を設定した理由</th>
          <td>{{ momotaro_form.reason }}</td>
        </tr>
        <tr>

      </table>

      <button type="submit" id="submit" class="btn btn-danger mt-4 ml-5">登録</button>
      {% csrf_token %}


      {% csrf_token %}
    </form>
  </div>
</main>

{% endblock %}
