{% extends register/base.html %} {% block content %}
<form class="" action="" method="POST">
  <table class="table">
    <tbody>
      <tr>
        <th>ニックネーム</th>
        <td>{{ user.nickname }}</td>
      </tr>
      <tr>
        <th>年齢</th>
        <td>{{ user.age }}</td>
      </tr>
      <tr>
        <th>性別</th>
        <td>{{ user.gender }}</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>{{ user.address }}</td>
      </tr>
      <!-- これより上がユーザー情報で登録されていた項目で、下がここで登録してもらいたい項目 -->
      <tr>
        <th>ニックネーム</th>
        <td>{{ form.goal }}</td>
      </tr>
      <tr>
        <th>期限</th>
        <td>{{ form.limit }}</td>
      </tr>
      <tr>
        <th>目標を達成したい理由</th>
        <td>{{ form.reason }}</td>
      </tr>
      <tr>
        <th>その他自己紹介など自由記入欄</th>
        <td>{{ form.additional_comments }}</td>
      </tr>
    </tbody>
  </table>

  <button type="submit" name="">送信</button>
  {% csrf_token %}
</form>
{% endblock %}