{% extends "register/base.html" %}
{% block content %}
<form class="" action="" method="POST">
  <table class="table">
    <tbody>
      <tr>
        <th>ニックネーム</th>
        <td>{{ user.nickname }}</td>
      </tr>
      <tr>
        <th>年齢</th>
        <td>{{ user.age }}</td>
      </tr>
      <tr>
        <th>性別</th>
        <td>{{ user.gender }}</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>{{ user.address }}</td>
      </tr>
      <!-- これより上がユーザー情報で登録されていた項目で、下がここで登録してもらいたい項目 -->
      {% for field in form %}
        <tr>
          <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
          <td>{{ field }} {{ field.errors }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit" name="">送信</button>
  {% csrf_token %}
</form>
{% endblock %}