@charset "utg-8";

.main {
  background-color: #e6ecf0;

}

#name {
  font-size: 2rem;
}

#suggest {
  font-size: 1.2rem;
  background-color: white;
  color: black;
  letter-spacing: 1.2px;
}

#suggest>p {
  background: linear-gradient(transparent 10%, rgb(255, 170, 170) 100%);

}



#photo {
  width:100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid pink;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
