@charset "utf-8";

/* common */
body {
  magin: 0;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #333;
  box-sizing: border-box;
}


.about-top-wrapper {
  background-color: pink;
}

.discription {
  color: white;
  font-size: 1.5rem
}

#atumeru, #sagasu {
  letter-spacing: 4px;
}
