@charset "utf-8";
/* //////////// common //////////// */

body {
  magin: 0;
  font-size: 14px;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  color: #333;
}

.bg-color-brand-grey {
  background-color: rgba(128, 128, 128, 0.1);
}

.bg-color-brand-pink-light {
  background-color: rgba(255, 192, 203, 0.5);
}

/* //////////// header //////////// */

nav {
  margin: 10px 0;
}

/* //////////// main //////////// */

img {
  width: 100%;
}

#message {
  font-size: 1rem;
  background-color: pink;
  color: white;
  border-radius: 50%;
}

/* ////////////　momotaro ////////////　*/

.momotaro>h2 {
  letter-spacing: 18px;
}

.momotaro p {
  line-height: 1;
}

.user {
  background-color: white;
  border-radius: 10px;
}

.user img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 10px solid pink;
  margin: 5px auto;
}
